<a href="<%= root_path %>">Home</a>
<h1>URL: <%= @image.url %></h1>
<img src="<%= @image.url %>">
<p>Tags:
<% @image.tag_list.each do |tag| %>
  <%= link_to(tag, images_path(tag: tag), class: 'js-image-tag') %>
<% end %>
<%= simple_form_for @image, url: image_path, method: :delete do |f| %>
  <%= f.submit 'Remove Image', data: { confirm: 'Are you sure you want to remove this image' } %>
<% end %>
